.heading {
	width: 280px;
	height: 50px;
	font-size: 40px;
	color: #842029;
	text-align: center;
	margin: auto;
	margin-top: 60px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.calc {
	height: 390px;
	width: 390px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px;
	border-radius: 10px;
	background-color: #dee2e6;;
	border: 2px solid black;
}

#userInput {
	width: 100%;
	height: 80px;
	border: 2px solid black;
	margin-bottom: 3px;
	background-color: white;
	border-radius: 15px;
	text-align: left;
	padding: 10px;
}

#btn-group {
	padding: 0 0 5px;
}

.btn {
	margin: 10px;
	height: 40px;
	width: 40px;
}

.btn-text {
	height: 40px;
	width: 67px;
}
